* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/dune.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

form {
    width: 420px;
    height: 350px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
}

h1 {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    color: white;
}

h3 {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: underline;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 20px 45px 20px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
}

.login {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    padding: 0;
    cursor: pointer;
    border: 2px solid;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
}

.szepdoboz {
    margin-top: 50px;
    font-size: 20px;
    background-color: "<?php echo $color; ?>";
}

.szepdoboz.background-piros {
    background-color: #BC243C;
}

.szepdoboz.background-zold {
    background-color: #009B77;
}

.szepdoboz.background-sarga {
    background-color: #EFC050;
}

.szepdoboz.background-kek {
    background-color: #34568B;
}

.szepdoboz.background-fekete {
    background-color: #222831;
}

.szepdoboz.background-feher {
    background-color: #EAF6F6;
}